<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.lznby.jetpack">

    <!-- network -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- camera -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- file -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:name=".configure.IApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="everyString"
        android:supportsRtl="true"
        android:theme="@style/Base.AppTheme">
        <activity android:name=".content.livedata.MainActivity"/>
        <activity android:name=".content.design.ui.RegisterActivity"/>
        <activity
            android:name=".content.design.ui.LoginActivity"
            android:theme="@style/AppTheme.NoStatusBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".content.test.SingleFragmentActivity"/>
        <!-- 禁止屏幕切换方向 -->
        <activity android:name=".content.design.ui.CenterActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".content.design.ui.SettingActivity"/>
        <activity
            android:name=".content.design.ui.UserInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".content.design.ui.AccountManagerActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".content.design.ui.FollowerActivity"/>
        <activity android:name=".content.design.ui.AppbarLayoutActivity">

        </activity>
        <!-- 视频播放控件配置 -->
        <activity android:name=".content.design.ui.HomePageActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".content.design.ui.CreateActivity">
        </activity>
        <!--Image Selector Entry-->
        <activity
            android:configChanges="orientation|screenSize"
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity" />
        <!-- 资讯详情页 -->
        <activity android:name=".content.design.ui.ArticleDetailsActivity">

        </activity>
        <!-- 主题列表 -->
        <activity android:name=".content.design.ui.ThemeActivity">

        </activity>
        <!-- 图片浏览 -->
        <activity android:name=".content.design.ui.ImageWatcherActivity">

        </activity>
        <!-- file provider -->
        <provider
            android:authorities="com.lznby.jetpack.android.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:name="android.support.v4.content.FileProvider">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"
                >
            </meta-data>

        </provider>

    </application>

</manifest>